@model IEnumerable<CourseProject.Models.Lesson>
    <h1>Smith Swimming School</h1>
@{
    if (Model.Count() < 1)
    {
        <p><a asp-action="AddLesson">Add a Lesson</a></p>
        <p>No lesson in database yet.</p>
    }
    else
    {
        <h2>All Lessons</h2>
        <table border="1">
            <tr>
                <th scope="col">Lesson ID</th>
                <th scope="col">Lesson Name</th>
                <th scope="col">Skill Level</th>
                <th scope="col">Tuition</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            @foreach (var lesson in Model)
            {
                <tr>
                    <td scope="row">@lesson.LessonId</td>
                    <td>@lesson.LessonTitle</td>
                    <td>@lesson.SkillLevel</td>
                    <td>@lesson.Tuition</td>
                    <td><a asp-action="EditLesson" asp-route-id="@lesson.LessonId">Edit</a></td>
                    <td><a asp-action="DeleteLesson" asp-route-id="@lesson.LessonId">Delete</a></td>
                </tr>
            }
        </table>
        <p><a asp-controller="Admin" asp-action="AddLesson">Add a Lesson</a></p>
    }
}
<br />
<p><a asp-controller="Admin" asp-action="Index">Back to Administrator Homepage</a></p>